@import "tailwindcss";
@plugin "daisyui";

.overlay-bg {
background: rgb(255,255,255);
background: linear-gradient(253deg, rgba(255, 255, 255,0) 11%, rgba(15, 15, 15, 1) 92%, rgba(0, 0, 0, 1) 100%);
}
